
@{
    ViewBag.Title = "HuongDanMuaHangOnLine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumb-area pt-255 pb-170" style="background-image: url(/Assets/img/slider/bg1.jpg)">
<div class="container-fluid">
    <div class="breadcrumb-content text-center">
        <h2>Hướng dẫn mua hàng online</h2>
      
    </div>
</div>
</div>

<div>
    <div >Body</div>
</div>

