@model IEnumerable<Models.EF.BRAND>
@{ Layout = null; }
@foreach (var category in Model)
{
    <li>
        <a href="@Url.Action("ShopCategory", "Shop", new { meta = category.BrandURL})">
            @category.BrandName
        </a>
    </li>
}