@model IEnumerable<Models.EF.CATEGORY>
@{ Layout = null; }
@foreach (var category in Model)
{
    <li>
        <a href="@Url.Action("ShopCategory", "Shop", new { meta = @category.MetaKeyword})">
            @category.CategoryName
        </a>
    </li>
}